<%- include('partials/header'); %>
<h1>Home</h1>
<a href="/compose">Create new post</a>
<% title.forEach((title, index) => { %>
   <h2><%= title %></h2>
   <p class="postBody"><%= _.truncate(body[index], {'length': 100, 'omission': ' ...'}) %></p>
   <a href="/posts/<%= index %>">Read More</a>
<% }) %>
<%- include('partials/footer'); %>