<%- include('partials/header'); %>
<h1><%= postTitle %></h1>
<p><%= postBody %></p>

<a href="/posts/edit/<%= postIndex %>">Edit</a>
<a href="/posts/delete/<%= postIndex %>">Delete</a>
<%- include('partials/footer'); %>